:root{
    --color-primary: #FFCF08;
    --color-secondary: #007470;
    --color-black: #1D1D1D;
    --color-black-secondary: #1D1D1D80;
    --color-white: #ffffff;
    --color-error: #DF2A00;
    --color-warning: #E76D00;
    --color-success: #007470;

    --background-default: #FFFBF3;
    --background-floating: #FFFFFF;
    --background-accent: #FAEFDB;
    --background-accent-transparency: #FAEFDB80;
    --background-overlay: #F5DFBB5C;
    --background-title: #FFEBB9;
    --background-table: #565656;
    --background-file: #E8DBC6;
    --background-border: #EEEEEE;

    --text-primary: #1D1D1D;
    --text-secondary: #1D1D1D80;
    --text-tertiary: #1D1D1D4D;
    --text-secondary-solid: #929292;

    --icon-primary: #1D1D1D;
    --icon-secondary: #1D1D1D80;
    --icon-tertiary: #1D1D1D4D;
    --icon-secondary-solid: #929292;
    --icon-dark-blue: #0A003C;
    --icon-blue: #3B88C3;
    --icon-light-blue: #EBF5FA;
    --icon-yellow: #FFB11A;
    --icon-red: #E23108;
}

.container{

}